<launch>
 <!-- joy node -->
  <node pkg="joy" type="joy_node" name="dor_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

  <node pkg="dor_teleop" type="dor_teleop_joy" name="teleop">
      <rosparam subst_value="true">
      linear_axis: 1
      angular_axis: 0
      horizontal_axis: 4
      vertical_axis: 5
      stop_btn : 0
      forward_btn: 4
      backward_btn: 5

      linear_scale: 2.0
      angular_scale: 2.0
      horizontal_scale: 1.0
      vertical_scale: 1.0
    </rosparam>
  </node>
</launch>